.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.nav-links{
  display: flex;
  font-size: large;
  margin-top: 2%; 
  gap:10px;
}

.nam{
  font-size: 25px;
  justify-content: space-around;
}

.search{
  margin-top: 8%;
  width: 20rem;
  padding: 0.4rem;
}



.nav img{
  width: 50%;
  margin-top: 5%;
}


.admin{
  margin-right:100px;
  margin-bottom: -50px;

}
svg{
  height: 90px;
  width:50px;

}
.carticon{
  margin-left:  21px;
}